EW/Helpdesk/Helpdesk/Service References/HelpdeskServiceRef/HelpdeskWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRadioDEIplaylist" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRadioDEIplaylist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelpdeskMusic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelpdeskMusic" nillable="true" type="tns:HelpdeskMusic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelpdeskMusic" nillable="true" type="tns:ArrayOfHelpdeskMusic" />
  <xs:complexType name="HelpdeskMusic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusicDuration" type="xs:int" />
      <xs:element minOccurs="0" name="MusicId" type="xs:int" />
      <xs:element minOccurs="0" name="MusicName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelpdeskMusic" nillable="true" type="tns:HelpdeskMusic" />
</xs:schema>