EW/Helpdesk/Helpdesk/Service References/HelpdeskServiceRef/HelpdeskWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2545/HelpdeskWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRadioDEIplaylist" />
  <xs:element name="MusicsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MusicsRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRadioDEIplaylist" minOccurs="0" name="MusicsRequestResult" nillable="true" type="q1:ArrayOfHelpdeskMusic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRadioDEIplaylist" minOccurs="0" name="hmusics" nillable="true" type="q2:ArrayOfHelpdeskMusic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaylistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>