EW/iRadioDEIplaylist/Web References/MusicPreferencesWS/Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Preference" nillable="true" type="tns:Preference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreference" nillable="true" type="tns:ArrayOfPreference" />
  <xs:complexType name="Preference">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MusicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAge" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Preference" nillable="true" type="tns:Preference" />
</xs:schema>